:root {
    --azulStrong: #06265af5;
    --azul: #39A2DB;
    --astrong: #073944;
    --gris: #EFF4F7;
    --blanco: #FFFFFF;
    --grisStrong: #0d1117;
    --azulcobalto:#011f4a;
    --egeo:#;
    --oscuro:#000a23;
    --azulmariono:#02152b;
    --azulmaricla:#021d34;
    --azulagua:#02253d;
    
    --palette1:#e5ece4;
    --palette2: #dfe3d2;
    --palette3: #bbcca8;
    --palette4: #80a480;
    --palette5: #43654a;
    --palette6: #213420;
  
  
  }