/* home.css */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navBar"
    "dashboard";
  height: 100dvh; /* Cambiar de 100dvh a 100vh para mejor compatibilidad */
  width: 100%;
  background-color: var(--palette1);
  z-index: 1;
  overflow: hidden;
}

.navBar {
  grid-area: navBar;
  margin: 0;
  height: 55dvh;
  z-index: 2;
}

.dashboard {
  grid-area: dashboard;
  padding: 20px;
  height: 100%;
  background-color: var(--palette2);
  z-index: 1;
}
