.areaPrompt{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.input_prompt {
    background-color: #212121;
    width: 80%;
    height: 6vh;
    padding: 10px;
    margin-right: 2%;
    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  }
  
  .input_prompt:focus {
    color: var(--blanco);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
  }